* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif !important;
    background: url(../public/assets/images/body.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mulish', sans-serif !important;
    color: var(--text_color);
}


/* Color Part */
:root {
    --bg_color:#FA4A4A; 
    --text_color:#111A45;
    --section_color:#F0F5FF;
    --border_color:#DDE1F3;
}

.css-1oqqzyl-MuiContainer-root{
    padding: 0 !important;
    max-width: 1400px !important;
}


/*---------------- Common Css ----------------*/
h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
}

h2{
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 2px;
}

h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

a{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    transition: all linear .3s;
    color: var(--text_color);
}

a.view_details {
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--bg_color);
    color: var(--bg_color);
    width: -webkit-fill-available;
}

a.view_details:hover{
    background: var(--bg_color);
    color: #FFF;
}

a.view_all{
    background: var(--text_color);
    border-radius: 40px;
    color: #FFF;
    padding: 20px 40px;
    box-shadow: 0px 32.32px 25px rgba(17, 26, 69, 0.0832), 0px 16.32px 16px rgba(17, 26, 69, 0.0432), 0px 8.32px 12px rgba(17, 26, 69, 0.0232), 0px 4.32px 3.32px rgba(17, 26, 69, 0.0132);
}

a.view_all:hover{
    background: var(--bg_color);
}

a.view_all svg{
    margin-left: 10px;
    padding-top: 5px;
}

.d_flex{
    display: flex;
    align-items: center;
}

.d_justify{
    justify-content: space-between;
}

.section_padding{
    padding: 100px 0;
}

/* Header Part */

.header_part h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: var(--bg_color);
}

.header_part h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.header_part svg{
    margin-left: 15px;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START Menubar PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#Menubar{
    height: 80px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    border-bottom: 1px solid var(--border_color);
    z-index: 999;
}

#Menubar .menu_item{
    text-align: right;
}

#Menubar .menu_item ul li{
    display: inline-block;
    padding: 0 12px;
}

#Menubar .menu_item ul li:last-child{
    padding-right: 0;
}

#Menubar .menu_item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: relative;
}

#Menubar .menu_item a::after{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    background: url('../public/assets/images/menu_hover.png');
    width: 0;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    transition: all linear .3s;
    opacity: 0;
}

#Menubar .menu_item a:hover::after{
    opacity: 1;
    width: 100%;
}

#Menubar .menu_item a.active{
    color: var(--bg_color);
}

#Menubar .menu_item a.active::after{
    opacity: 1;
    width: 100%;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START flash_sale PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#flash_sale{
    background: var(--section_color);
    position: relative;
}

.Flash_right_bg {
    position: absolute;
    top: -61px;
    right: 0;
}

.Flash_bottom_dots{
    position: absolute;
    bottom: 150px;
    right: 150px;
}

.header_part .right{
    text-align: right;
}

.content_item{
    margin-top: 60px;
}

.content_item .view_all_part{
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.content_item_item {
    border-radius: 15px;
    transition: all linear .3s;
    background: #FFF;
}

.content_item_item .img{
    border-radius: 15px;
}

.content_item_item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 230px;
    object-fit: cover;
}

.content_item_item .text{
    background: #FFF;
    border-radius: 0 0 15px 15px;
    padding: 15px;
    transition: all linear .3s;
}

.content_item_item:hover .text{
    box-shadow: 0px 28px 113.46px rgba(29, 41, 100, 0.12), 0px 91.9235px 66.4476px rgba(29, 41, 100, 0.0227778), 0px 54.6288px 36.1391px rgba(29, 41, 100, 0.0182222);
} 

.content_item_item .text .subject{
    background: var(--section_color);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.content_item_item .text .subject span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ADAEB8;
}

.content_item_item .text .subject span strong{
    color: var(--text_color);
}

.content_item_item .text h4{
    margin-top: 10px;
}

.content_item_item .text h3{
    margin-top: 10px;
}

.content_item_item .text h3 del{
    color: #ADAEB8;
    font-size: 16px;
}

.content_item_item .text h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ADAEB8;
    margin-top: 10px;
}

.content_item_item .text h5 strong{
    color: var(--text_color);
}

.content_item_item .text a{
    margin-top: 30px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START Countdown PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.Countdown{
    margin-top: 30px;
}

.Countdown ul li {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    background: var(--bg_color);
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    margin-right: 20px;
}

.Countdown ul li:last-child{
    margin-right: 0;
}

.Countdown ul li h3{
    color: #FFF;
}

.Countdown ul li p{
    margin-top: 5px;
}




/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START PopularCollection PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

#flash_sale.PopularCollection{
    background: #FFF; 
}

.Popular_bottom_dots {
    position: absolute;
    left: 0;
    top: -40px;
}

.Popularleft_bg {
    position: absolute;
    left: 80px;
    bottom: 40px;
}

#flash_sale.PopularCollection .content_item_item {
    background: var(--section_color);
}

#flash_sale.PopularCollection .content_item_item .text .subject{
    background: #FFF;
}

#flash_sale.PopularCollection .content_item_item .text{
    background: var(--section_color);
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START ComboTop PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#flash_sale.ComboTop .right_bg{
    position: absolute;
    top: 0;
    right: 0;
}

#flash_sale.ComboTop .left_bg{
    position: absolute;
    top: 0;
    left: 0;
}

#flash_sale.ComboTop .Combo_bottom_dots {
    position: absolute;
    bottom: 50px;
    left: 0;
}

#flash_sale.ComboTop .Combo_bottom_dots_right{
    position: absolute;
    bottom: 50px;
    right: 200px;
}

.header_part{
    position: relative;
    z-index: 9;
}

.content_item{
    position: relative;
    z-index: 9;
}





/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START Review PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#Review{
    background-color: #0D132E;
    background: url('../public/assets/images/review_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#Review .header_part h4{
    color: #B5B6BA;
    line-height: 40px;
}

#Review .header_part h3{
    font-size: 26px;
    margin-top: 30px;
}

#Review .header_part p{
    margin-top: 15px;
    color: #B5B6BA;
}

.review_star{
    margin-top: 20px;
}

.review_star svg{
    margin-left: 0;
    margin-right: 5px;
}

.review_star svg path{
    fill: #FED32E;
}

#Review .right{
    text-align: center;
}

#Review .right .img{
    display: inline-block;
    position: relative;
}

#Review .right .img img{
    border-radius: 5px;
}

#Review .right .img .overlay {
    position: absolute;
    top: -35px;
    left: -35px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START video_part PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

#video_part .img{
    position: relative;
}

#video_part .img img{
    width: 100%;
    height: 300px;
}

#video_part .img .overlay {
    position: absolute;
    left: -40px;
    bottom: -40px;
    z-index: -1;
}

#video_part .img .video_left {
    position: absolute;
    left: -40px;
    bottom: -40px;
    z-index: -1;
}

#video_part .img .right {
    position: absolute;
    right: -50px;
    top: -40px;
    z-index: -1;
}

#video_part .img .video_left img {
    width: 100%;
    height: 100%;
}

#video_part .img .right img {
    width: 100%;
    height: 100%;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START Footer PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

#footer{
    position: relative;
}

#footer .left_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
}

#footer .left_bg img{
    width: 100%;
    height: 100%;
}

#footer .logo{
    margin-right: 50px;
}

#footer p{
    color: #ADAEB8;
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
}

#footer ul{
    margin-top: 30px;
}

#footer ul li{
    margin-bottom: 15px;
}

#footer ul li:last-child{
    margin-bottom: 0;
}

#footer ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #ADAEB8;
}

#footer ul li .svg{
    margin-right: 20px;
}

#footer ul li p{
    margin-top: 0;
}

.tiny_footer{
    border-top: 1px solid var(--border_color);
    padding: 20px 0;
    text-align: center;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START Login PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.registration .reg_img img {
    width: 100%;
    height: 98vh;
    object-fit: fill;
}

.registration .css-mhc70k-MuiGrid-root>.MuiGrid-item{
    margin-top: 0;
    margin-left: 0;
}

.registration .reg_content{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.registration .reg_content p{
    font-size: 20px;
}

.registration .custome_input{
    margin-top: 40px;
    width: 370px;
    position: relative;
}

.registration .custome_input .eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.registration .custome_input .MuiFormControl-root{
    width: 100%;
}

.registration .reg_content p.MuiFormHelperText-root{
    font-size: 14px;
    margin: 0;
    color: red;
}

.registration .reg_content button{
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.registration .reg_content .have_account{
    margin-top: 30px;
    color: var(--text_color);
    font-size: 16px;
}

.registration .reg_content .have_account a {
    color: red;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.logIn_with{
    margin-top: 30px;
}

.logIn_with .logIn_with_item{
    margin-right: 20px;
    cursor: pointer;
} 

.registration.login .MuiButton-root{
    background: var(--header_color2);
    border-radius: 5px;
    padding: 10px 20px;
    background: var(--text_color);
}